@model EmployeeBook.Dto.PersonImage

@{
    ViewData["Title"] = "CreateProfile";
}


@using (Html.BeginForm("CreateProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, "First Name")
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)  
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, "Last Name")
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WorkerCode, "Worker Code")
        @Html.TextBoxFor(model => model.WorkerCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WorkerCode, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TelephoneNumber, "Telephone Number")   
        @Html.TextBoxFor(model => model.TelephoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TelephoneNumber, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, "Email")
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProfilePicture, "Profile Picture")
        <input type="file" name="ProfilePicture" id="ProfilePicture" class="form-control" />
        @Html.ValidationMessageFor(model => model.ProfilePicture, "", new { @class = "text-inform" })
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    <div>
    </div>

}
