@model Person

@{
    ViewData["Title"] = "GetProfile";
}

<h1>Your Profile</h1>
<div>
    <hr />
    @{string imageBase64 = Convert.ToBase64String(Model.ProfilePicture);
        string imageSrc = string.Format("data:image/png;base64,{0}", imageBase64);}
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class = "col-sm-10">
            <img src="@imageSrc" alt="Image" />
        </dd>
    </dl>
</div>
<div>
</div>
