@model IEnumerable<EmployeeBook.Models.User>

@{
    ViewData["Title"] = "ListOfUsers";
}

<h1>Collection of Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteUser", "User", new {id = item.Id}, null)
                @Html.ActionLink("Edit", "EditUser", "User", new {id = item.Id}, null)
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts{
}